const useStyles = makeStyles(theme => ({
    card: {
      maxWidth: 400,
      margin: '0 auto',
      marginTop: theme.spacing(3),
      padding: theme.spacing(2),
      textAlign: 'center',
    },
    textField: {
      width: '100%',
      marginBottom: theme.spacing(2),
    },
    error: {
      color: 'red',
    },
    submit: {
      margin: '0 auto',
      marginBottom: theme.spacing(2),
    },
    title: {
      fontSize: 18,
    },
  }));