body {
  background-color: #dacca5;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
}

.link {
  margin-right: 20px;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #e4ce26;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}

.title {
  padding: 20px;
  background-color: rgb(80, 115, 80);
  font-size: 28px;
  border-bottom: 2px solid #ddd;
}

.media {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.navbar {
  background-color: rgb(80, 115, 80);
  padding: 15px 0;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Space out the links and cart */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #830f0f;
}

.cart-icon {
  margin-left: auto; /* Align the cart to the right */
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.cart-icon:hover {
  color: #830f0f;
}
/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(80, 115, 80);
  padding: 20px;
  color: white;
}

/* Contact Information */
.contact-info {
  text-align: left;
}

/* Copyright */
.copyright {
  text-align: right;
}
