.link {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  /* Styles for the card */
  .card {
    maxWidth: 600px;
    margin: auto;
    margin-top: 20px;
  }
  
  .title {
    padding: 15px;
    color: #333;
  }
  
  .media {
    minHeight: 400px;
    width: 40%;
    height: 60%;
  }
  .navbar {
    background-color: #333;
    padding: 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }