.contact-container {
  text-align: center;
  padding: 20px;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}
.navbar {
  background-color: rgb(80, 115, 80);
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}
/* Footer */
.footer {
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(80, 115, 80);
padding: 20px;
color: rgb(181, 204, 181);
}



/* Contact Information */
.contact-info {
text-align: left;
}

/* Copyright */
.copyright {
text-align: right;
}